In [2]:
import pandas as pd

data = pd.read_json('mujeractual_joyas.json')
data.head()

,fields,model,pk
0,"{'code': '0019100', 'event': 1, 'civil_status'...",mujeractual.participant,1
1,"{'code': '0006446', 'event': 1, 'civil_status'...",mujeractual.participant,2
2,"{'code': '0028889', 'event': 1, 'civil_status'...",mujeractual.participant,3
3,"{'code': '0016790', 'event': 1, 'civil_status'...",mujeractual.participant,4
4,"{'code': '0032922', 'event': 1, 'civil_status'...",mujeractual.participant,5

In [4]:
data.fields[0]

{'academic_level': '8',
 'accept_terms': True,
 'address': 'Av. Las Lomas 1436 Urb. Mangomarca SJL',
 'birthday': '1971-07-19',
 'civil_status': 'C',
 'code': '0019100',
 'created_at': '2017-05-03T08:56:44',
 'document_number': '10516673',
 'document_type': 'DNI',
 'email': 'katherinepinto33@yahoo.com',
 'event': 1,
 'first_name': 'Katherine Vanessa',
 'gender': 'F',
 'job': '27',
 'last_name': 'Pinto Ramos',
 'phone': '950179997',
 'ubigeo': 1423}

In [5]:
for val in data.fields[0]:
    data[val] = data.fields.apply(lambda x: x.get(val))

In [6]:
data.head()

,fields,model,pk,code,event,civil_status,gender,accept_terms,phone,document_number,document_type,academic_level,email,job,last_name,first_name,address,ubigeo,created_at,birthday
0,"{'code': '0019100', 'event': 1, 'civil_status'...",mujeractual.participant,1,0019100,1,C,F,True,950179997,10516673,DNI,8,katherinepinto33@yahoo.com,27,Pinto Ramos,Katherine Vanessa,Av. Las Lomas 1436 Urb. Mangomarca SJL,1423,2017-05-03T08:56:44,1971-07-19
1,"{'code': '0006446', 'event': 1, 'civil_status'...",mujeractual.participant,2,0006446,1,C,M,True,998956701,25523014,DNI,8,arita_dani07@hotmail.com,9,Jaime Chupitaz,Juana Aracelli,Jr. Gonzales prada 355 dpt: 502 - Miraflores,1401,2017-05-03T09:10:02,1962-03-19
2,"{'code': '0028889', 'event': 1, 'civil_status'...",mujeractual.participant,3,0028889,1,C,F,True,946531480,10630920,DNI,6,awakuysac10@gmail.com,43,Gutierrez tineo,Julia gisela,Jiron nevado huandoy mz b 4 lote 10 delicias d...,1394,2017-05-03T09:11:36,1977-01-13
3,"{'code': '0016790', 'event': 1, 'civil_status'...",mujeractual.participant,4,0016790,1,C,F,True,991909421,03885018,DNI,6,nelly-saro@hotmail.com,52,Sandoval Rosales,Nelly del pilar,Av las mercedes 277 los angeles RIMAC,1408,2017-05-03T09:19:01,1972-06-17
4,"{'code': '0032922', 'event': 1, 'civil_status'...",mujeractual.participant,5,0032922,1,S,F,True,983449287,41494579,DNI,2,mmercedesadelaida@gmail.com,27,Martinez,Mercedes,Jr. Francisco de Orellana #226 int 102,1390,2017-05-03T09:40:19,1982-07-19

In [7]:
for field in ['fields', 'model', 'pk']:
    del data[field]

In [8]:
data.columns

Index(['code', 'event', 'civil_status', 'gender', 'accept_terms', 'phone',
       'document_number', 'document_type', 'academic_level', 'email', 'job',
       'last_name', 'first_name', 'address', 'ubigeo', 'created_at',
       'birthday'],
      dtype='object')

In [9]:
data.to_csv('mujeractual_joyas.csv')