In [160]:
#MODELO DE PROPENSION DE COMPRA
import pandas as pd
data = pd.read_csv('DS_Compra.csv', encoding= "ISO-8859-1", sep=",")
data.head()

      ID SEXO  EDAD  INGRESOS ESTADOCIVIL  FLAG_COMPRA
0  10001    M  19.0      1500           S            0
1  10002    M  35.0      1600           C            0
2  10003    F  26.0      3500           C            0
3  10004    F  27.0      4700           C            0
4  10005    M  19.0      6300           S            0

In [6]:
data.tail()

        ID SEXO  EDAD  INGRESOS ESTADOCIVIL  FLAG_COMPRA
395  10396    F  46.0      3400           C            1
396  10397    M  51.0      1900           S            1
397  10398    F  50.0      1600           S            1
398  10399    M  36.0      2700           C            0
399  10400    F  49.0      3000           C            1

In [12]:
import numpy as np
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 6 columns):
ID             400 non-null int64
SEXO           400 non-null object
EDAD           387 non-null float64
INGRESOS       400 non-null int64
ESTADOCIVIL    392 non-null object
FLAG_COMPRA    400 non-null int64
dtypes: float64(1), int64(3), object(2)
memory usage: 18.8+ KB

In [10]:
data.shape

(400, 6)

In [14]:
pd.DataFrame(data.dtypes)

                   0
ID             int64
SEXO          object
EDAD         float64
INGRESOS       int64
ESTADOCIVIL   object
FLAG_COMPRA    int64

In [16]:
#ANALISIS DESCRIPTIVO DE LOS DATOS
data.describe(include="all")

                  ID SEXO        EDAD      INGRESOS ESTADOCIVIL  FLAG_COMPRA
count     400.000000  400  387.000000    400.000000         392   400.000000
unique           NaN    2         NaN           NaN           3          NaN
top              NaN    F         NaN           NaN           S          NaN
freq             NaN  204         NaN           NaN         214          NaN
mean    10200.500000  NaN   37.589147   6476.500000         NaN     0.357500
std       115.614301  NaN   10.523312   7705.031897         NaN     0.479864
min     10001.000000  NaN   18.000000   1200.000000         NaN     0.000000
25%     10100.750000  NaN   29.000000   3500.000000         NaN     0.000000
50%     10200.500000  NaN   37.000000   5800.000000         NaN     0.000000
75%     10300.250000  NaN   46.000000   7300.000000         NaN     1.000000
max     10400.000000  NaN   60.000000  90000.000000         NaN     1.000000

In [26]:
#Frecuencias d estao civil
data['ESTADOCIVIL'].value_counts(dropna=False)

S      214
C      125
D       53
NaN      8
Name: ESTADOCIVIL, dtype: int64

In [19]:
help(data['ESTADOCIVIL'].value_counts())

Help on Series in module pandas.core.series object:

class Series(pandas.core.base.IndexOpsMixin, pandas.core.generic.NDFrame)
 |  One-dimensional ndarray with axis labels (including time series).
 |
 |  Labels need not be unique but must be a hashable type. The object
 |  supports both integer- and label-based indexing and provides a host of
 |  methods for performing operations involving the index. Statistical
 |  methods from ndarray have been overridden to automatically exclude
 |  missing data (currently represented as NaN).
 |
 |  Operations between Series (+, -, /, *, **) align values based on their
 |  associated index values-- they need not be the same length. The result
 |  index will be the sorted union of the two indexes.
 |
 |  Parameters
 |  ----------
 |  data : array-like, dict, or scalar value
 |      Contains data stored in Series
 |  index : array-like or Index (1d)
 |      Values must be hashable and have the same length as `data`.
 |      Non-unique index values are allowed. Will default to
 |      RangeIndex(len(data)) if not provided. If both a dict and index
 |      sequence are used, the index will override the keys found in the
 |      dict.
 |  dtype : numpy.dtype or None
 |      If None, dtype will be inferred
 |  copy : boolean, default False
 |      Copy input data
 |
 |  Method resolution order:
 |      Series
 |      pandas.core.base.IndexOpsMixin
 |      pandas.core.generic.NDFrame
 |      pandas.core.base.PandasObject
 |      pandas.core.base.StringMixin
 |      pandas.core.accessor.DirNamesMixin
 |      pandas.core.base.SelectionMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __add__ = wrapper(left, right, name='__add__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x7fae69dd2048>)
 |
 |  __and__ = wrapper(self, other)
 |
 |  __array__(self, result=None)
 |      the array interface, return my values
 |
 |  __array_prepare__(self, result, context=None)
 |      Gets called prior to a ufunc
 |
 |  __array_wrap__(self, result, context=None)
 |      Gets called after a ufunc
 |
 |  __div__ = wrapper(left, right, name='__truediv__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x7fae69dd2730>)
 |
 |  __divmod__ = wrapper(left, right, name='__divmod__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x7fae69b98950>)
 |
 |  __eq__ = wrapper(self, other, axis=None)
 |
 |  __float__ = wrapper(self)
 |
 |  __floordiv__ = wrapper(left, right, name='__floordiv__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x7fae69dd28c8>)
 |
 |  __ge__ = wrapper(self, other, axis=None)
 |
 |  __getitem__(self, key)
 |
 |  __gt__ = wrapper(self, other, axis=None)
 |
 |  __iadd__ = f(self, other)
 |
 |  __iand__ = f(self, other)
 |
 |  __ifloordiv__ = f(self, other)
 |
 |  __imod__ = f(self, other)
 |
 |  __imul__ = f(self, other)
 |
 |  __init__(self, data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __int__ = wrapper(self)
 |
 |  __ior__ = f(self, other)
 |
 |  __ipow__ = f(self, other)
 |
 |  __isub__ = f(self, other)
 |
 |  __itruediv__ = f(self, other)
 |
 |  __ixor__ = f(self, other)
 |
 |  __le__ = wrapper(self, other, axis=None)
 |
 |  __len__(self)
 |      return the length of the Series
 |
 |  __long__ = wrapper(self)
 |
 |  __lt__ = wrapper(self, other, axis=None)
 |
 |  __mod__ = wrapper(left, right, name='__mod__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x7fae69dd2a60>)
 |
 |  __mul__ = wrapper(left, right, name='__mul__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x7fae69dd2598>)
 |
 |  __ne__ = wrapper(self, other, axis=None)
 |
 |  __or__ = wrapper(self, other)
 |
 |  __pow__ = wrapper(left, right, name='__pow__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x7fae69dd2bf8>)
 |
 |  __radd__ = wrapper(left, right, name='__radd__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x7fae69dd2268>)
 |
 |  __rand__ = wrapper(self, other)
 |
 |  __rdiv__ = wrapper(left, right, name='__rtruediv__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x7fae69b95268>)
 |
 |  __rfloordiv__ = wrapper(left, right, name='__rfloordiv__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x7fae69b95488>)
 |
 |  __rmod__ = wrapper(left, right, name='__rmod__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x7fae69b958c8>)
 |
 |  __rmul__ = wrapper(left, right, name='__rmul__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x7fae69dd2d90>)
 |
 |  __ror__ = wrapper(self, other)
 |
 |  __rpow__ = wrapper(left, right, name='__rpow__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x7fae69b956a8>)
 |
 |  __rsub__ = wrapper(left, right, name='__rsub__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x7fae69b95048>)
 |
 |  __rtruediv__ = wrapper(left, right, name='__rtruediv__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x7fae69b95268>)
 |
 |  __rxor__ = wrapper(self, other)
 |
 |  __setitem__(self, key, value)
 |
 |  __sub__ = wrapper(left, right, name='__sub__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x7fae69dd2400>)
 |
 |  __truediv__ = wrapper(left, right, name='__truediv__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x7fae69dd2730>)
 |
 |  __unicode__(self)
 |      Return a string representation for a particular DataFrame
 |
 |      Invoked by unicode(df) in py2 only. Yields a Unicode String in both
 |      py2/py3.
 |
 |  __xor__ = wrapper(self, other)
 |
 |  add(self, other, level=None, fill_value=None, axis=0)
 |      Addition of series and other, element-wise (binary operator `add`).
 |
 |      Equivalent to ``series + other``, but with support to substitute a fill_value for
 |      missing data in one of the inputs.
 |
 |      Parameters
 |      ----------
 |      other : Series or scalar value
 |      fill_value : None or float value, default None (NaN)
 |          Fill missing (NaN) values with this value. If both Series are
 |          missing, the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : Series
 |
 |      See also
 |      --------
 |      Series.radd
 |
 |  agg = aggregate(self, func, axis=0, *args, **kwargs)
 |
 |  aggregate(self, func, axis=0, *args, **kwargs)
 |      Aggregate using callable, string, dict, or list of string/callables
 |
 |      .. versionadded:: 0.20.0
 |
 |      Parameters
 |      ----------
 |      func : callable, string, dictionary, or list of string/callables
 |          Function to use for aggregating the data. If a function, must either
 |          work when passed a Series or when passed to Series.apply. For
 |          a DataFrame, can pass a dict, if the keys are DataFrame column names.
 |
 |          Accepted Combinations are:
 |
 |          - string function name
 |          - function
 |          - list of functions
 |          - dict of column names -> functions (or list of functions)
 |
 |      Notes
 |      -----
 |      Numpy functions mean/median/prod/sum/std/var are special cased so the
 |      default behavior is applying the function along axis=0
 |      (e.g., np.mean(arr_2d, axis=0)) as opposed to
 |      mimicking the default Numpy behavior (e.g., np.mean(arr_2d)).
 |
 |      `agg` is an alias for `aggregate`. Use the alias.
 |
 |      Returns
 |      -------
 |      aggregated : Series
 |
 |      Examples
 |      --------
 |
 |      >>> s = Series(np.random.randn(10))
 |
 |      >>> s.agg('min')
 |      -1.3018049988556679
 |
 |      >>> s.agg(['min', 'max'])
 |      min   -1.301805
 |      max    1.127688
 |      dtype: float64
 |
 |      See also
 |      --------
 |      pandas.Series.apply
 |      pandas.Series.transform
 |
 |  align(self, other, join='outer', axis=None, level=None, copy=True, fill_value=None, method=None, limit=None, fill_axis=0, broadcast_axis=None)
 |      Align two objects on their axes with the
 |      specified join method for each axis Index
 |
 |      Parameters
 |      ----------
 |      other : DataFrame or Series
 |      join : {'outer', 'inner', 'left', 'right'}, default 'outer'
 |      axis : allowed axis of the other object, default None
 |          Align on index (0), columns (1), or both (None)
 |      level : int or level name, default None
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |      copy : boolean, default True
 |          Always returns new objects. If copy=False and no reindexing is
 |          required then original objects are returned.
 |      fill_value : scalar, default np.NaN
 |          Value to use for missing values. Defaults to NaN, but can be any
 |          "compatible" value
 |      method : str, default None
 |      limit : int, default None
 |      fill_axis : {0, 'index'}, default 0
 |          Filling axis, method and limit
 |      broadcast_axis : {0, 'index'}, default None
 |          Broadcast values along this axis, if aligning two objects of
 |          different dimensions
 |
 |          .. versionadded:: 0.17.0
 |
 |      Returns
 |      -------
 |      (left, right) : (Series, type of other)
 |          Aligned objects
 |
 |  all(self, axis=None, bool_only=None, skipna=None, level=None, **kwargs)
 |      Return whether all elements are True over requested axis
 |
 |      Parameters
 |      ----------
 |      axis : {index (0)}
 |      skipna : boolean, default True
 |          Exclude NA/null values. If an entire row/column is NA, the result
 |          will be NA
 |      level : int or level name, default None
 |          If the axis is a MultiIndex (hierarchical), count along a
 |          particular level, collapsing into a scalar
 |      bool_only : boolean, default None
 |          Include only boolean columns. If None, will attempt to use everything,
 |          then use only boolean data. Not implemented for Series.
 |
 |      Returns
 |      -------
 |      all : scalar or Series (if level specified)
 |
 |  any(self, axis=None, bool_only=None, skipna=None, level=None, **kwargs)
 |      Return whether any element is True over requested axis
 |
 |      Parameters
 |      ----------
 |      axis : {index (0)}
 |      skipna : boolean, default True
 |          Exclude NA/null values. If an entire row/column is NA, the result
 |          will be NA
 |      level : int or level name, default None
 |          If the axis is a MultiIndex (hierarchical), count along a
 |          particular level, collapsing into a scalar
 |      bool_only : boolean, default None
 |          Include only boolean columns. If None, will attempt to use everything,
 |          then use only boolean data. Not implemented for Series.
 |
 |      Returns
 |      -------
 |      any : scalar or Series (if level specified)
 |
 |  append(self, to_append, ignore_index=False, verify_integrity=False)
 |      Concatenate two or more Series.
 |
 |      Parameters
 |      ----------
 |      to_append : Series or list/tuple of Series
 |      ignore_index : boolean, default False
 |          If True, do not use the index labels.
 |
 |          .. versionadded: 0.19.0
 |
 |      verify_integrity : boolean, default False
 |          If True, raise Exception on creating index with duplicates
 |
 |      Notes
 |      -----
 |      Iteratively appending to a Series can be more computationally intensive
 |      than a single concatenate. A better solution is to append values to a
 |      list and then concatenate the list with the original Series all at
 |      once.
 |
 |      See also
 |      --------
 |      pandas.concat : General function to concatenate DataFrame, Series
 |          or Panel objects
 |
 |      Returns
 |      -------
 |      appended : Series
 |
 |      Examples
 |      --------
 |      >>> s1 = pd.Series([1, 2, 3])
 |      >>> s2 = pd.Series([4, 5, 6])
 |      >>> s3 = pd.Series([4, 5, 6], index=[3,4,5])
 |      >>> s1.append(s2)
 |      0    1
 |      1    2
 |      2    3
 |      0    4
 |      1    5
 |      2    6
 |      dtype: int64
 |
 |      >>> s1.append(s3)
 |      0    1
 |      1    2
 |      2    3
 |      3    4
 |      4    5
 |      5    6
 |      dtype: int64
 |
 |      With `ignore_index` set to True:
 |
 |      >>> s1.append(s2, ignore_index=True)
 |      0    1
 |      1    2
 |      2    3
 |      3    4
 |      4    5
 |      5    6
 |      dtype: int64
 |
 |      With `verify_integrity` set to True:
 |
 |      >>> s1.append(s2, verify_integrity=True)
 |      Traceback (most recent call last):
 |      ...
 |      ValueError: Indexes have overlapping values: [0, 1, 2]
 |
 |  apply(self, func, convert_dtype=True, args=(), **kwds)
 |      Invoke function on values of Series. Can be ufunc (a NumPy function
 |      that applies to the entire Series) or a Python function that only works
 |      on single values
 |
 |      Parameters
 |      ----------
 |      func : function
 |      convert_dtype : boolean, default True
 |          Try to find better dtype for elementwise function results. If
 |          False, leave as dtype=object
 |      args : tuple
 |          Positional arguments to pass to function in addition to the value
 |      Additional keyword arguments will be passed as keywords to the function
 |
 |      Returns
 |      -------
 |      y : Series or DataFrame if func returns a Series
 |
 |      See also
 |      --------
 |      Series.map: For element-wise operations
 |      Series.agg: only perform aggregating type operations
 |      Series.transform: only perform transformating type operations
 |
 |      Examples
 |      --------
 |
 |      Create a series with typical summer temperatures for each city.
 |
 |      >>> import pandas as pd
 |      >>> import numpy as np
 |      >>> series = pd.Series([20, 21, 12], index=['London',
 |      ... 'New York','Helsinki'])
 |      >>> series
 |      London      20
 |      New York    21
 |      Helsinki    12
 |      dtype: int64
 |
 |      Square the values by defining a function and passing it as an
 |      argument to ``apply()``.
 |
 |      >>> def square(x):
 |      ...     return x**2
 |      >>> series.apply(square)
 |      London      400
 |      New York    441
 |      Helsinki    144
 |      dtype: int64
 |
 |      Square the values by passing an anonymous function as an
 |      argument to ``apply()``.
 |
 |      >>> series.apply(lambda x: x**2)
 |      London      400
 |      New York    441
 |      Helsinki    144
 |      dtype: int64
 |
 |      Define a custom function that needs additional positional
 |      arguments and pass these additional arguments using the
 |      ``args`` keyword.
 |
 |      >>> def subtract_custom_value(x, custom_value):
 |      ...     return x-custom_value
 |
 |      >>> series.apply(subtract_custom_value, args=(5,))
 |      London      15
 |      New York    16
 |      Helsinki     7
 |      dtype: int64
 |
 |      Define a custom function that takes keyword arguments
 |      and pass these arguments to ``apply``.
 |
 |      >>> def add_custom_values(x, **kwargs):
 |      ...     for month in kwargs:
 |      ...         x+=kwargs[month]
 |      ...         return x
 |
 |      >>> series.apply(add_custom_values, june=30, july=20, august=25)
 |      London      95
 |      New York    96
 |      Helsinki    87
 |      dtype: int64
 |
 |      Use a function from the Numpy library.
 |
 |      >>> series.apply(np.log)
 |      London      2.995732
 |      New York    3.044522
 |      Helsinki    2.484907
 |      dtype: float64
 |
 |  argmax = wrapper(*args, **kwargs)
 |
 |  argmin = wrapper(*args, **kwargs)
 |
 |  argsort(self, axis=0, kind='quicksort', order=None)
 |      Overrides ndarray.argsort. Argsorts the value, omitting NA/null values,
 |      and places the result in the same locations as the non-NA values
 |
 |      Parameters
 |      ----------
 |      axis : int (can only be zero)
 |      kind : {'mergesort', 'quicksort', 'heapsort'}, default 'quicksort'
 |          Choice of sorting algorithm. See np.sort for more
 |          information. 'mergesort' is the only stable algorithm
 |      order : ignored
 |
 |      Returns
 |      -------
 |      argsorted : Series, with -1 indicated where nan values are present
 |
 |      See also
 |      --------
 |      numpy.ndarray.argsort
 |
 |  autocorr(self, lag=1)
 |      Lag-N autocorrelation
 |
 |      Parameters
 |      ----------
 |      lag : int, default 1
 |          Number of lags to apply before performing autocorrelation.
 |
 |      Returns
 |      -------
 |      autocorr : float
 |
 |  between(self, left, right, inclusive=True)
 |      Return boolean Series equivalent to left <= series <= right. NA values
 |      will be treated as False
 |
 |      Parameters
 |      ----------
 |      left : scalar
 |          Left boundary
 |      right : scalar
 |          Right boundary
 |
 |      Returns
 |      -------
 |      is_between : Series
 |
 |  combine(self, other, func, fill_value=nan)
 |      Perform elementwise binary operation on two Series using given function
 |      with optional fill value when an index is missing from one Series or
 |      the other
 |
 |      Parameters
 |      ----------
 |      other : Series or scalar value
 |      func : function
 |          Function that takes two scalars as inputs and return a scalar
 |      fill_value : scalar value
 |
 |      Returns
 |      -------
 |      result : Series
 |
 |      Examples
 |      --------
 |      >>> s1 = Series([1, 2])
 |      >>> s2 = Series([0, 3])
 |      >>> s1.combine(s2, lambda x1, x2: x1 if x1 < x2 else x2)
 |      0    0
 |      1    2
 |      dtype: int64
 |
 |      See Also
 |      --------
 |      Series.combine_first : Combine Series values, choosing the calling
 |          Series's values first
 |
 |  combine_first(self, other)
 |      Combine Series values, choosing the calling Series's values
 |      first. Result index will be the union of the two indexes
 |
 |      Parameters
 |      ----------
 |      other : Series
 |
 |      Returns
 |      -------
 |      combined : Series
 |
 |      Examples
 |      --------
 |      >>> s1 = pd.Series([1, np.nan])
 |      >>> s2 = pd.Series([3, 4])
 |      >>> s1.combine_first(s2)
 |      0    1.0
 |      1    4.0
 |      dtype: float64
 |
 |      See Also
 |      --------
 |      Series.combine : Perform elementwise operation on two Series
 |          using a given function
 |
 |  compound(self, axis=None, skipna=None, level=None)
 |      Return the compound percentage of the values for the requested axis
 |
 |      Parameters
 |      ----------
 |      axis : {index (0)}
 |      skipna : boolean, default True
 |          Exclude NA/null values when computing the result.
 |      level : int or level name, default None
 |          If the axis is a MultiIndex (hierarchical), count along a
 |          particular level, collapsing into a scalar
 |      numeric_only : boolean, default None
 |          Include only float, int, boolean columns. If None, will attempt to use
 |          everything, then use only numeric data. Not implemented for Series.
 |
 |      Returns
 |      -------
 |      compounded : scalar or Series (if level specified)
 |
 |  compress(self, condition, *args, **kwargs)
 |      Return selected slices of an array along given axis as a Series
 |
 |      See also
 |      --------
 |      numpy.ndarray.compress
 |
 |  corr(self, other, method='pearson', min_periods=None)
 |      Compute correlation with `other` Series, excluding missing values
 |
 |      Parameters
 |      ----------
 |      other : Series
 |      method : {'pearson', 'kendall', 'spearman'}
 |          * pearson : standard correlation coefficient
 |          * kendall : Kendall Tau correlation coefficient
 |          * spearman : Spearman rank correlation
 |      min_periods : int, optional

In [25]:
data['EDAD'].value_counts(bins=5, dropna=False, normalize=True) #normalize para ver como porcentaje

(34.8, 43.2]      0.3450
(26.4, 34.8]      0.1900
(17.957, 26.4]    0.1625
(43.2, 51.6]      0.1600
(51.6, 60.0]      0.1100
Name: EDAD, dtype: float64

In [63]:
def genera_rangos(valor):
    return '18-30' if valor <=30 else ('31-50' if valor <= 50 else ('50 a mas' if not pd.isnull(valor) else 'NA'))

In [64]:
data['EDAD-RANGO'] = data['EDAD'].apply(lambda x: genera_rangos(x))
data.head()

      ID SEXO  EDAD  INGRESOS ESTADOCIVIL  FLAG_COMPRA EDAD-RANGO
0  10001    M  19.0      1500           S            0      18-30
1  10002    M  35.0      1600           C            0      31-50
2  10003    F  26.0      3500           C            0      18-30
3  10004    F  27.0      4700           C            0      18-30
4  10005    M  19.0      6300           S            0      18-30

In [65]:
data['EDAD-RANGO'].value_counts(normalize=True, dropna=False)

31-50       0.5775
18-30       0.2725
50 a mas    0.1175
NA          0.0325
Name: EDAD-RANGO, dtype: float64

In [68]:
var_str = data.select_dtypes(include=['object']).columns

In [67]:
data.columns.values

array(['ID', 'SEXO', 'EDAD', 'INGRESOS', 'ESTADOCIVIL', 'FLAG_COMPRA',
       'EDAD-RANGO'], dtype=object)

In [69]:
var_str

Index(['SEXO', 'ESTADOCIVIL', 'EDAD-RANGO'], dtype='object')

In [71]:
for feature in var_str:
    print('-'*20)
    print(data[feature].value_counts(normalize=True, dropna=False))

--------------------
F    0.51
M    0.49
Name: SEXO, dtype: float64
--------------------
S      0.5350
C      0.3125
D      0.1325
NaN    0.0200
Name: ESTADOCIVIL, dtype: float64
--------------------
31-50       0.5775
18-30       0.2725
50 a mas    0.1175
NA          0.0325
Name: EDAD-RANGO, dtype: float64

In [73]:
#CONCATENAR DATAFRAMES
pd.concat([data, data], axis=0) #con axis = 1 lo pone al lado

        ID SEXO  EDAD  INGRESOS ESTADOCIVIL  FLAG_COMPRA EDAD-RANGO
0    10001    M  19.0      1500           S            0      18-30
1    10002    M  35.0      1600           C            0      31-50
2    10003    F  26.0      3500           C            0      18-30
3    10004    F  27.0      4700           C            0      18-30
4    10005    M  19.0      6300           S            0      18-30
5    10006    M  27.0      4800           C            0      18-30
6    10007    F  27.0      7000           C            0      18-30
7    10008    F  32.0     80000           C            1      31-50
8    10009    M  25.0      2700           C            0      18-30
9    10010    F   NaN      5400           C            0         NA
10   10011    F  26.0      6600         NaN            0      18-30
11   10012    F  26.0      4300           C            0      18-30
12   10013    M  20.0      7100           S            0      18-30
13   10014    M  32.0      1500           C            0      31-50
14   10015    M  18.0      6800           S            0      18-30
15   10016    M  29.0      6600           C            0      18-30
16   10017    M  47.0      2000           S            1      31-50
17   10018    M  45.0      2100           S            1      31-50
18   10019    M  46.0      2300           S            1      31-50
19   10020    F  48.0      2400           S            1      31-50
20   10021    M  45.0      1800         NaN            1      31-50
21   10022    F  47.0      4000           C            1      31-50
22   10023    M  48.0      3400           C            1      31-50
23   10024    F  45.0      1800           S            1      31-50
24   10025    M  46.0      1900           S            1      31-50
25   10026    M  47.0      1600           S            1      31-50
26   10027    M  49.0      2300           S            1      31-50
27   10028    F  47.0      2500           C            1      31-50
28   10029    M  29.0      3500           C            0      18-30
29   10030    M   NaN      1500           C            0         NA
..     ...  ...   ...       ...         ...          ...        ...
370  10371    F  60.0      3800           C            1   50 a mas
371  10372    M  60.0      6900           C            1   50 a mas
372  10373    F  39.0      6000           C            0      31-50
373  10374    M  59.0     10800           C            1   50 a mas
374  10375    F  37.0      6600           C            0      31-50
375  10376    F  46.0      2600           C            1      31-50
376  10377    F  46.0      6100           C            0      31-50
377  10378    F  42.0      4400           C            0      31-50
378  10379    M  41.0      7200           C            1      31-50
379  10380    F  58.0      1900           S            1   50 a mas
380  10381    M  42.0      5300           C            0      31-50
381  10382    M  48.0      2700           C            1      31-50
382  10383    F  44.0     11500           C            1      31-50
383  10384    M  49.0      2300           S            1      31-50
384  10385    F  57.0      2700           C            1   50 a mas
385  10386    M  56.0      5000           C            1   50 a mas
386  10387    F  49.0      3200           C            1      31-50
387  10388    M  39.0      5900           C            0      31-50
388  10389    M  47.0      2800           C            1      31-50
389  10390    F  48.0      2900           C            1      31-50
390  10391    M  48.0      2700           C            1      31-50
391  10392    M  47.0      1900           S            1      31-50
392  10393    F  45.0      3700           C            1      31-50
393  10394    M  60.0      3500           C            1   50 a mas
394  10395    F  39.0      4900           C            0      31-50
395  10396    F  46.0      3400           C            1      31-50
396  10397    M  51.0      1900           S            1   50 a mas
397  10398    F  50.0      1600           S            1      31-50
398  10399    M  36.0      2700           C            0      31-50
399  10400    F  49.0      3000           C            1      31-50

[800 rows x 7 columns]

In [95]:
df1 = pd.DataFrame(data['ESTADOCIVIL'].value_counts(dropna=False))
df1.columns = ['PRUEBA']
df2 = pd.DataFrame(data['ESTADOCIVIL'].value_counts(normalize=True, dropna=False)).rename(columns={'ESTADOCIVIL': 'FREC_REL'})

In [96]:
pd.concat([df1, df2], axis=1)

     PRUEBA  FREC_REL
S       214    0.5350
C       125    0.3125
D        53    0.1325
NaN       8    0.0200

In [112]:
df3 = pd.DataFrame(
    data.groupby(
        by=['ESTADOCIVIL'], as_index=False
    )['FLAG_COMPRA'].mean()
)

df3.head()

  ESTADOCIVIL  FLAG_COMPRA
0           C     0.248000
1           D     0.245283
2           S     0.448598

In [113]:
df3.tail()

  ESTADOCIVIL  FLAG_COMPRA
0           C     0.248000
1           D     0.245283
2           S     0.448598

In [118]:
data.pivot_table(
    index=["ESTADOCIVIL"], 
    columns=["FLAG_COMPRA"],
    values=['ID'],
    aggfunc='count'
)

              ID
FLAG_COMPRA    0   1
ESTADOCIVIL
C             94  31
D             40  13
S            118  96

In [119]:
data.pivot_table(
    index=["ESTADOCIVIL"], 
    columns=["FLAG_COMPRA"],
    values=['ID'],
    aggfunc='mean'
)

                       ID
FLAG_COMPRA             0             1
ESTADOCIVIL
C            10104.329787  10274.774194
D            10182.250000  10201.615385
S            10210.805085  10269.927083

In [121]:
#ANALISIS DESCRIPTIVO DE DATOS
data.isnull().sum()

ID              0
SEXO            0
EDAD           13
INGRESOS        0
ESTADOCIVIL     8
FLAG_COMPRA     0
EDAD-RANGO      0
dtype: int64

In [122]:
data.isnull().any()

ID             False
SEXO           False
EDAD            True
INGRESOS       False
ESTADOCIVIL     True
FLAG_COMPRA    False
EDAD-RANGO     False
dtype: bool

In [131]:
#Esto reeemplazara los nulos por su media
data['EDAD'].fillna(data['EDAD'].mean(), inplace=True)
data['ESTADOCIVIL'].fillna(data['ESTADOCIVIL'].mode()[0], inplace=True)

In [129]:
data.head()

      ID SEXO  EDAD  INGRESOS ESTADOCIVIL  FLAG_COMPRA EDAD-RANGO
0  10001    M  19.0      1500           S            0      18-30
1  10002    M  35.0      1600           C            0      31-50
2  10003    F  26.0      3500           C            0      18-30
3  10004    F  27.0      4700           C            0      18-30
4  10005    M  19.0      6300           S            0      18-30

In [132]:
data.isnull().any().any()

False

In [133]:
#Tratamiento de outliners
#iddentifico 
np.nanpercentile(data['EDAD'], [0,1,5,10,20,30,50,75,90,95,99,100])

array([ 18.,  18.,  21.,  24.,  28.,  32.,  37.,  45.,  52.,  57.,  60.,
        60.])

In [134]:
np.nanpercentile(data['EDAD'], [95])[0]

57.0

In [136]:
indice_percen_95 = data['EDAD'] > np.nanpercentile(data['EDAD'], [95])[0]
data.loc[indice_percen_95, "EDAD"] = 57

In [138]:
max(data['EDAD'])

57.0

In [140]:
dicc_sexo = {'M': 1, 'F': 0}
data['SEXO'] = data['SEXO'].map(dicc_sexo)
data.head(10)

      ID  SEXO  EDAD  INGRESOS ESTADOCIVIL  FLAG_COMPRA EDAD-RANGO
0  10001     1   NaN      1500           S            0      18-30
1  10002     1   NaN      1600           C            0      31-50
2  10003     0   NaN      3500           C            0      18-30
3  10004     0   NaN      4700           C            0      18-30
4  10005     1   NaN      6300           S            0      18-30
5  10006     1   NaN      4800           C            0      18-30
6  10007     0   NaN      7000           C            0      18-30
7  10008     0   NaN     80000           C            1      31-50
8  10009     1   NaN      2700           C            0      18-30
9  10010     0   NaN      5400           C            0         NA

In [143]:
import random
data['EDAD'] = random.choice([35, 42, 32, 17, 34])
data.head()

      ID  SEXO  EDAD  INGRESOS ESTADOCIVIL  FLAG_COMPRA EDAD-RANGO
0  10001     1    42      1500           S            0      18-30
1  10002     1    42      1600           C            0      31-50
2  10003     0    42      3500           C            0      18-30
3  10004     0    42      4700           C            0      18-30
4  10005     1    42      6300           S            0      18-30

In [144]:
data.shape

(400, 7)

In [145]:
data['ESTADOCIVIL'].describe()

count     400
unique      3
top         S
freq      222
Name: ESTADOCIVIL, dtype: object

In [146]:
dicc_sexo = {'S': 2, 'D': 1, 'C': 0}
data['ESTADOCIVIL'] = data['ESTADOCIVIL'].map(dicc_sexo)
data.head(20)

       ID  SEXO  EDAD  INGRESOS  ESTADOCIVIL  FLAG_COMPRA EDAD-RANGO
0   10001     1    42      1500            2            0      18-30
1   10002     1    42      1600            0            0      31-50
2   10003     0    42      3500            0            0      18-30
3   10004     0    42      4700            0            0      18-30
4   10005     1    42      6300            2            0      18-30
5   10006     1    42      4800            0            0      18-30
6   10007     0    42      7000            0            0      18-30
7   10008     0    42     80000            0            1      31-50
8   10009     1    42      2700            0            0      18-30
9   10010     0    42      5400            0            0         NA
10  10011     0    42      6600            2            0      18-30
11  10012     0    42      4300            0            0      18-30
12  10013     1    42      7100            2            0      18-30
13  10014     1    42      1500            0            0      31-50
14  10015     1    42      6800            2            0      18-30
15  10016     1    42      6600            0            0      18-30
16  10017     1    42      2000            2            1      31-50
17  10018     1    42      2100            2            1      31-50
18  10019     1    42      2300            2            1      31-50
19  10020     0    42      2400            2            1      31-50

In [148]:
data.tail(20)

        ID  SEXO  EDAD  INGRESOS  ESTADOCIVIL  FLAG_COMPRA EDAD-RANGO
380  10381     1    42      5300            0            0      31-50
381  10382     1    42      2700            0            1      31-50
382  10383     0    42     11500            0            1      31-50
383  10384     1    42      2300            2            1      31-50
384  10385     0    42      2700            0            1   50 a mas
385  10386     1    42      5000            0            1   50 a mas
386  10387     0    42      3200            0            1      31-50
387  10388     1    42      5900            0            0      31-50
388  10389     1    42      2800            0            1      31-50
389  10390     0    42      2900            0            1      31-50
390  10391     1    42      2700            0            1      31-50
391  10392     1    42      1900            2            1      31-50
392  10393     0    42      3700            0            1      31-50
393  10394     1    42      3500            0            1   50 a mas
394  10395     0    42      4900            0            0      31-50
395  10396     0    42      3400            0            1      31-50
396  10397     1    42      1900            2            1   50 a mas
397  10398     0    42      1600            2            1      31-50
398  10399     1    42      2700            0            0      31-50
399  10400     0    42      3000            0            1      31-50

In [149]:
data.pivot_table(
    index=["ESTADOCIVIL"], 
    columns=["FLAG_COMPRA"],
    values=['ID'],
    aggfunc='mean'
)

                       ID
FLAG_COMPRA             0             1
ESTADOCIVIL
0            10104.329787  10274.774194
1            10182.250000  10201.615385
2            10206.512195  10268.313131

In [152]:
estado_civil = pd.get_dummies(data['ESTADOCIVIL'], prefix='ESTADO', drop_first=True)

In [153]:
del data['ESTADOCIVIL']

In [155]:
pd.concat([data, estado_civil], axis=1)

        ID  SEXO  EDAD  INGRESOS  FLAG_COMPRA EDAD-RANGO  ESTADO_1  ESTADO_2
0    10001     1    42      1500            0      18-30         0         1
1    10002     1    42      1600            0      31-50         0         0
2    10003     0    42      3500            0      18-30         0         0
3    10004     0    42      4700            0      18-30         0         0
4    10005     1    42      6300            0      18-30         0         1
5    10006     1    42      4800            0      18-30         0         0
6    10007     0    42      7000            0      18-30         0         0
7    10008     0    42     80000            1      31-50         0         0
8    10009     1    42      2700            0      18-30         0         0
9    10010     0    42      5400            0         NA         0         0
10   10011     0    42      6600            0      18-30         0         1
11   10012     0    42      4300            0      18-30         0         0
12   10013     1    42      7100            0      18-30         0         1
13   10014     1    42      1500            0      31-50         0         0
14   10015     1    42      6800            0      18-30         0         1
15   10016     1    42      6600            0      18-30         0         0
16   10017     1    42      2000            1      31-50         0         1
17   10018     1    42      2100            1      31-50         0         1
18   10019     1    42      2300            1      31-50         0         1
19   10020     0    42      2400            1      31-50         0         1
20   10021     1    42      1800            1      31-50         0         1
21   10022     0    42      4000            1      31-50         0         0
22   10023     1    42      3400            1      31-50         0         0
23   10024     0    42      1800            1      31-50         0         1
24   10025     1    42      1900            1      31-50         0         1
25   10026     1    42      1600            1      31-50         0         1
26   10027     1    42      2300            1      31-50         0         1
27   10028     0    42      2500            1      31-50         0         0
28   10029     1    42      3500            0      18-30         0         0
29   10030     1    42      1500            0         NA         0         0
..     ...   ...   ...       ...          ...        ...       ...       ...
370  10371     0    42      3800            1   50 a mas         0         0
371  10372     1    42      6900            1   50 a mas         0         0
372  10373     0    42      6000            0      31-50         0         0
373  10374     1    42     10800            1   50 a mas         0         0
374  10375     0    42      6600            0      31-50         0         0
375  10376     0    42      2600            1      31-50         0         0
376  10377     0    42      6100            0      31-50         0         0
377  10378     0    42      4400            0      31-50         0         0
378  10379     1    42      7200            1      31-50         0         0
379  10380     0    42      1900            1   50 a mas         0         1
380  10381     1    42      5300            0      31-50         0         0
381  10382     1    42      2700            1      31-50         0         0
382  10383     0    42     11500            1      31-50         0         0
383  10384     1    42      2300            1      31-50         0         1
384  10385     0    42      2700            1   50 a mas         0         0
385  10386     1    42      5000            1   50 a mas         0         0
386  10387     0    42      3200            1      31-50         0         0
387  10388     1    42      5900            0      31-50         0         0
388  10389     1    42      2800            1      31-50         0         0
389  10390     0    42      2900            1      31-50         0         0
390  10391     1    42      2700            1      31-50         0         0
391  10392     1    42      1900            1      31-50         0         1
392  10393     0    42      3700            1      31-50         0         0
393  10394     1    42      3500            1   50 a mas         0         0
394  10395     0    42      4900            0      31-50         0         0
395  10396     0    42      3400            1      31-50         0         0
396  10397     1    42      1900            1   50 a mas         0         1
397  10398     0    42      1600            1      31-50         0         1
398  10399     1    42      2700            0      31-50         0         0
399  10400     0    42      3000            1      31-50         0         0

[400 rows x 8 columns]

In [159]:
#data['EDAD-RANGO'] = pd.factorize(data['EDAD-RANGO'])
dicc_rango = {
    '18-30': 1,
    '31-50': 2,
    '50 a mas': 0,
    'NA': 3
}
data['EDAD-RANGO'] = data['EDAD-RANGO'].map(dicc_rango)
data.head(20)

       ID  SEXO  EDAD  INGRESOS  FLAG_COMPRA  EDAD-RANGO
0   10001     1    42      1500            0           1
1   10002     1    42      1600            0           2
2   10003     0    42      3500            0           1
3   10004     0    42      4700            0           1
4   10005     1    42      6300            0           1
5   10006     1    42      4800            0           1
6   10007     0    42      7000            0           1
7   10008     0    42     80000            1           2
8   10009     1    42      2700            0           1
9   10010     0    42      5400            0           3
10  10011     0    42      6600            0           1
11  10012     0    42      4300            0           1
12  10013     1    42      7100            0           1
13  10014     1    42      1500            0           2
14  10015     1    42      6800            0           1
15  10016     1    42      6600            0           1
16  10017     1    42      2000            1           2
17  10018     1    42      2100            1           2
18  10019     1    42      2300            1           2
19  10020     0    42      2400            1           2

In [180]:
data['EDAD'] = data2['EDAD']

In [181]:
data['EDAD'].fillna(data['EDAD'].mean(), inplace=True)
data.head()

      ID  SEXO  EDAD  INGRESOS  FLAG_COMPRA  EDAD-RANGO  ESTADO_1  ESTADO_2
0  10001     1  19.0      1500            0           1         0         1
1  10002     1  35.0      1600            0           2         0         0
2  10003     0  26.0      3500            0           1         0         0
3  10004     0  27.0      4700            0           1         0         0
4  10005     1  19.0      6300            0           1         0         1

In [163]:
columns_model = list(data.columns)

In [164]:
columns_model = ['SEXO', 'EDAD', 'INGRESOS', 'EDAD-RANGO']

['ID', 'SEXO', 'EDAD', 'INGRESOS', 'FLAG_COMPRA', 'EDAD-RANGO']

In [165]:
data = pd.concat([data, estado_civil], axis=1)

In [166]:
data.head()

      ID  SEXO  EDAD  INGRESOS  FLAG_COMPRA  EDAD-RANGO  ESTADO_1  ESTADO_2
0  10001     1  19.0      1500            0           1         0         1
1  10002     1  35.0      1600            0           2         0         0
2  10003     0  26.0      3500            0           1         0         0
3  10004     0  27.0      4700            0           1         0         0
4  10005     1  19.0      6300            0           1         0         1

In [182]:
train = data[['SEXO', 'EDAD', 'INGRESOS', 'EDAD-RANGO', 'ESTADO_1', 'ESTADO_2']]

In [183]:
train.head()

   SEXO  EDAD  INGRESOS  EDAD-RANGO  ESTADO_1  ESTADO_2
0     1  19.0      1500           1         0         1
1     1  35.0      1600           2         0         0
2     0  26.0      3500           1         0         0
3     0  27.0      4700           1         0         0
4     1  19.0      6300           1         0         1

In [184]:
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")
X_train, X_test, y_train, y_test = train_test_split(
    train, data['FLAG_COMPRA'], 
    train_size=0.6, 
    random_state=20
)

In [185]:
print(type(X_train), X_train.shape)
print(type(X_test), X_test.shape)
print(type(y_train), y_train.shape)
print(type(y_test), y_test.shape)

<class 'pandas.core.frame.DataFrame'> (240, 6)
<class 'pandas.core.frame.DataFrame'> (160, 6)
<class 'pandas.core.series.Series'> (240,)
<class 'pandas.core.series.Series'> (160,)

In [203]:
#MODELAMIENTO 
#ARBOL DE DECISION
from sklearn.tree import DecisionTreeClassifier

arbol = DecisionTreeClassifier(max_depth=3)
arbol.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [204]:
predict_train = arbol.predict(X_train)
predict_test = arbol.predict(X_test)

In [205]:
# EVALUACION DEL MODELO
from sklearn.metrics import confusion_matrix
confusion_matrix(y_train, predict_train)

array([[150,  10],
       [  6,  74]])

In [206]:
from sklearn.metrics import accuracy_score
accuracy_train = accuracy_score(y_train, predict_train)
accuracy_train

0.93333333333333335

In [207]:
accuracy_test = accuracy_score(y_test, predict_test)
accuracy_test

0.88749999999999996

In [262]:
#RANDOM FOREST
from sklearn.ensemble import RandomForestClassifier

arbol = RandomForestClassifier(n_estimators=100, max_depth=7, n_jobs=2, 
                               random_state=20, min_samples_split=2)
arbol.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=7, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=2,
            oob_score=False, random_state=20, verbose=0, warm_start=False)

In [263]:
predict_train = arbol.predict(X_train)
predict_test = arbol.predict(X_test)

In [264]:
confusion_matrix(y_train, predict_train)

array([[159,   1],
       [  4,  76]])

In [265]:
accuracy_train = accuracy_score(y_train, predict_train)
accuracy_train

0.97916666666666663

In [266]:
accuracy_test = accuracy_score(y_test, predict_test)
accuracy_test

0.92500000000000004

In [269]:
features = pd.DataFrame()
features['feature'] = X_train.columns
features['importance'] = arbol.feature_importances_
ff = features.sort_values(by=['importance', 'feature'], ascending=True)
ff = ff.reset_index(drop=True)
ff

      feature  importance
0        SEXO    0.015607
1    ESTADO_1    0.020642
2    ESTADO_2    0.026325
3  EDAD-RANGO    0.115266
4    INGRESOS    0.404286
5        EDAD    0.417874