In [1]:
#importaciones
import pandas as pd

#variables
sep = ','
ruta = 'data_qroma_train.csv'

data = pd.read_csv(ruta, encoding= "ISO-8859-1", sep=sep, low_memory=False)
data.head(10)

,NUMERO_BOLETO,TIPO_BOLETO,NUM_SECUENCIA_BOLETO,ID_UNICO_FILA,LIMA_PROV,NUM_PEDIDO,FECHA_BOLETO,CODIGO_ZONA,CODIGO_UBICACION,CODIGO_VENDEDOR,...,CODIGO_PRODUCTO,CODIGO_CARACTERSTICA,CODIGO_TIPO_PRESENTACION,CODIGO_RUBRO,CODIGO_GRUPO,CODIGO_FAMILIA,CODIGO_MARCA,CODIGO_CATEGORIA,CODIGO_TIPO_FRECUENCIA,CODIGO_SEGMENTO_ECONOMICO
0,F450-0000346734,FAC,1,5423841,4,1311-0000004737,2017-12-19 00:00:00,20,1241,463,...,1003,9999,41,10,F,3,MARCA 3,11,S,ECONOMICO
1,F450-0000132318,FAC,12,5426267,4,NaN,2016-06-03 00:00:00,20,1556,347,...,1003,9999,41,10,F,3,MARCA 3,11,S,ECONOMICO
2,F450-0000131760,FAC,5,5426483,5,1013-0000017592,2016-06-02 00:00:00,20,1492,130,...,1003,9999,41,10,F,3,MARCA 3,11,S,ECONOMICO
3,F450-0000131851,FAC,2,5425613,5,1110-0000021134,2016-06-02 00:00:00,20,1515,170,...,1003,9999,41,10,F,3,MARCA 3,11,S,ECONOMICO
4,F450-0000132262,FAC,7,5423168,4,0008-0000073885,2016-06-03 00:00:00,20,1665,424,...,1003,9999,41,10,F,3,MARCA 3,11,S,ECONOMICO
5,F450-0000346780,FAC,1,5422038,5,1604-0000003100,2017-12-19 00:00:00,20,1525,498,...,1003,9999,41,10,F,3,MARCA 3,11,S,ECONOMICO
6,F450-0000346690,FAC,8,5422416,4,0008-0000093257,2017-12-19 00:00:00,20,438,335,...,1003,9999,41,10,F,3,MARCA 3,11,S,ECONOMICO
7,F450-0000346769,FAC,1,5420478,5,1354-0000001156,2017-12-19 00:00:00,20,1492,399,...,1003,9999,41,10,F,3,MARCA 3,11,S,ECONOMICO
8,F450-0000346772,FAC,1,5421261,5,1190-0000019330,2017-12-19 00:00:00,20,1525,246,...,1003,9999,41,10,F,3,MARCA 3,11,S,ECONOMICO
9,F450-0000346773,FAC,5,5421263,5,1190-0000019347,2017-12-19 00:00:00,20,1525,246,...,1003,9999,41,10,F,3,MARCA 3,11,S,ECONOMICO

In [2]:
def get_memory_usage(data):
    return '{} MB'.format(data.memory_usage(deep=True).sum() / 1024 ** 2)

get_memory_usage(data)

'2273.349100112915 MB'

In [3]:
def null_verificator(data):
    if not data.isnull().any().any():
        return "DATA LIMPIA DE NULOS"
    
    view_info = pd.DataFrame(
        pd.concat(
            [data.isnull().any(), 
             data.isnull().sum(),
             data.dtypes], 
            axis=1
        )
    )
    view_info.columns = ['Nulos', 'Cantidad', 'Tipo Col']
    return view_info

null_verificator(data)

                             Nulos  Cantidad Tipo Col
NUMERO_BOLETO                False         0   object
TIPO_BOLETO                  False         0   object
NUM_SECUENCIA_BOLETO         False         0    int64
ID_UNICO_FILA                False         0    int64
LIMA_PROV                    False         0    int64
NUM_PEDIDO                    True    547971   object
FECHA_BOLETO                 False         0   object
CODIGO_ZONA                  False         0    int64
CODIGO_UBICACION             False         0    int64
CODIGO_VENDEDOR              False         0    int64
CODIGO_CLIENTE               False         0    int64
CODIGO_MODO_PAGO             False         0    int64
MONTO_VENTA_SOL              False         0  float64
MONTO_VENTA_DOL              False         0  float64
MONTO_DESCUENTO_SOL          False         0  float64
MONTO_DESCUENTO_DOL          False         0  float64
MONTO_COSTO_SOL              False         0  float64
MONTO_COSTO_DOL              False         0  float64
CANTIDAD_COMPRADA            False         0  float64
FLAG_PROMOCION               False         0   object
FACTOR_CONVERSION_VOLUMEN    False         0  float64
ESTATUS_CLIENTE              False         0   object
CODIGO_CONGLOMERADO_CLIENTE   True     46168   object
CODIGO_PRODUCTO_UNICO        False         0    int64
CODIGO_PRODUCTO              False         0   object
CODIGO_CARACTERSTICA          True     53246   object
CODIGO_TIPO_PRESENTACION     False         0   object
CODIGO_RUBRO                 False         0   object
CODIGO_GRUPO                 False         0   object
CODIGO_FAMILIA               False         0    int64
CODIGO_MARCA                 False         0   object
CODIGO_CATEGORIA             False         0    int64
CODIGO_TIPO_FRECUENCIA       False         0   object
CODIGO_SEGMENTO_ECONOMICO    False         0   object

In [4]:
for col in ['NUM_PEDIDO', 'CODIGO_CONGLOMERADO_CLIENTE', 'CODIGO_CARACTERSTICA']:
    print("/////////////////// ", col)
    print(col, data[col].value_counts(dropna=False))

///////////////////  NUM_PEDIDO
NUM_PEDIDO NaN                547971
0008-0000092071        68
1283-0000006336        63
0890-0000008684        62
1114-0000018829        61
0890-0000008686        59
0008-0000076338        58
0008-0000084490        57
4004-0000000954        56
4004-0000002191        55
4004-0000001808        55
4004-0000002111        53
4004-0000001802        52
4004-0000000854        51
0890-0000008967        50
0890-0000010183        49
0890-0000008666        49
0890-0000014717        49
0890-0000007098        49
0890-0000007020        48
4004-0000001853        48
0890-0000006327        48
4004-0000001912        48
4004-0000002342        48
0890-0000010041        48
1274-0000000500        47
0008-0000075494        47
0890-0000008878        47
0890-0000008722        47
0890-0000008558        47
                    ...
0008-0000078732         1
1110-0000021701         1
0008-0000076814         1
1281-0000005579         1
1118-0000021466         1
1155-0000012477         1
1391-0000002594         1
1118-0000024963         1
0701-0000021789         1
0008-0000069653         1
0009-0000012154         1
0008-0000068755         1
1405-0000007875         1
0701-0000023146         1
0008-0000092443         1
0701-0000026956         1
1114-0000019195         1
0701-0000025657         1
1330-0000007111         1
0890-0000014888         1
1604-0000002294         1
1283-0000006987         1
1118-0000021524         1
1458-0000002107         1
1189-0000009637         1
1135-0000017229         1
1619-0000000258         1
0008-0000072093         1
1175-0000009800         1
1458-0000003294         1
Name: NUM_PEDIDO, Length: 156343, dtype: int64
///////////////////  CODIGO_CONGLOMERADO_CLIENTE
CODIGO_CONGLOMERADO_CLIENTE 074            70074
NaN            46168
335            42189
136            35139
134            22421
012            20936
174            18485
188            18032
105            17330
098            16890
396            15910
10254361645    14814
639            14536
040            13415
629            12935
537            12663
425            12326
028            12321
10105080935    12045
102            11888
20381775918    11424
621            11392
647            11345
462            11226
202            11098
549            10868
542            10608
485            10272
460            10215
637            10065
               ...
10403688075        1
20505286180        1
20490327577        1
10337309785        1
10455371851        1
20558744333        1
A33                1
10200426474        1
10075189970        1
20561309184        1
10432513381        1
20600739345        1
10769749247        1
10428852074        1
20480684991        1
10081102371        1
10400079205        1
20549445862        1
20481834172        1
10415121267        1
20534720361        1
20538120317        1
20601712980        1
10040416205        1
10717083429        1
10311788952        1
20600754018        1
20486319161        1
079                1
20496136951        1
Name: CODIGO_CONGLOMERADO_CLIENTE, Length: 4410, dtype: int64
///////////////////  CODIGO_CARACTERSTICA
CODIGO_CARACTERSTICA 9999    416791
0000    379212
0501     90537
3301     59249
8900     57352
NaN      53246
3101     39484
8201     34145
2100     25358
2601     23855
0054     21334
4603     18564
1400     18496
1300     17501
1670     15607
3701     15087
0234     14742
3200     14085
1705     13539
5262     13133
0375     12935
1700     12354
4486     11559
1680     11201
4304     10886
0201     10743
8101     10684
1610     10452
3625     10276
8240     10087
         ...
082B         1
090A         1
9978         1
1708         1
238B         1
0007         1
3226         1
2718         1
336B         1
8336         1
213B         1
2471         1
329A         1
0181         1
896B         1
2328         1
3586         1
8905         1
2113         1
856C         1
9979         1
2001         1
2733         1
0032         1
098A         1
034B         1
9005         1
3254         1
1048         1
8854         1
Name: CODIGO_CARACTERSTICA, Length: 571, dtype: int64

In [5]:
data.shape

(2150075, 34)

In [6]:
#Debido a que el estudio se basa en los conglomerados
#Se eliminan los conglomerados nulos
data = data[data.CODIGO_CONGLOMERADO_CLIENTE.notnull()]
data.shape

(2103907, 34)

In [7]:
null_verificator(data)

                             Nulos  Cantidad Tipo Col
NUMERO_BOLETO                False         0   object
TIPO_BOLETO                  False         0   object
NUM_SECUENCIA_BOLETO         False         0    int64
ID_UNICO_FILA                False         0    int64
LIMA_PROV                    False         0    int64
NUM_PEDIDO                    True    529372   object
FECHA_BOLETO                 False         0   object
CODIGO_ZONA                  False         0    int64
CODIGO_UBICACION             False         0    int64
CODIGO_VENDEDOR              False         0    int64
CODIGO_CLIENTE               False         0    int64
CODIGO_MODO_PAGO             False         0    int64
MONTO_VENTA_SOL              False         0  float64
MONTO_VENTA_DOL              False         0  float64
MONTO_DESCUENTO_SOL          False         0  float64
MONTO_DESCUENTO_DOL          False         0  float64
MONTO_COSTO_SOL              False         0  float64
MONTO_COSTO_DOL              False         0  float64
CANTIDAD_COMPRADA            False         0  float64
FLAG_PROMOCION               False         0   object
FACTOR_CONVERSION_VOLUMEN    False         0  float64
ESTATUS_CLIENTE              False         0   object
CODIGO_CONGLOMERADO_CLIENTE  False         0   object
CODIGO_PRODUCTO_UNICO        False         0    int64
CODIGO_PRODUCTO              False         0   object
CODIGO_CARACTERSTICA          True     51758   object
CODIGO_TIPO_PRESENTACION     False         0   object
CODIGO_RUBRO                 False         0   object
CODIGO_GRUPO                 False         0   object
CODIGO_FAMILIA               False         0    int64
CODIGO_MARCA                 False         0   object
CODIGO_CATEGORIA             False         0    int64
CODIGO_TIPO_FRECUENCIA       False         0   object
CODIGO_SEGMENTO_ECONOMICO    False         0   object

In [8]:
#Se reemplazara los datos nulos de ambas columnas por el valor 'desconocido'
#Aprovechando son de tipo object 
data.fillna('desconocido', inplace=True)

In [9]:
import numpy as np
def reduce_size_data(df, save=True, new_name='data_qroma_train_reduce.csv'):
    for col in df.select_dtypes(include=['int']).columns:
        df[col] = df[col].apply(pd.to_numeric, downcast='integer')
 
    for col in df.select_dtypes(include=['float']).columns:
        df[col] = df[col].apply(pd.to_numeric, downcast='float')

    for col in df.select_dtypes(include=['object']).columns:
        if len(df[col].unique()) / len(df[col]) < 0.5:
            df[col] = df[col].astype('category')

    df.to_csv(new_name, index=False)
    
reduce_size_data(data)
get_memory_usage(data)

'405.46416568756104 MB'

In [10]:
#del data['CODIGO_CARACTERSTICA']
#del data['NUM_PEDIDO']

In [10]:
data.shape, data.columns

((2103907, 34),
 Index(['NUMERO_BOLETO', 'TIPO_BOLETO', 'NUM_SECUENCIA_BOLETO', 'ID_UNICO_FILA',
        'LIMA_PROV', 'NUM_PEDIDO', 'FECHA_BOLETO', 'CODIGO_ZONA',
        'CODIGO_UBICACION', 'CODIGO_VENDEDOR', 'CODIGO_CLIENTE',
        'CODIGO_MODO_PAGO', 'MONTO_VENTA_SOL', 'MONTO_VENTA_DOL',
        'MONTO_DESCUENTO_SOL', 'MONTO_DESCUENTO_DOL', 'MONTO_COSTO_SOL',
        'MONTO_COSTO_DOL', 'CANTIDAD_COMPRADA', 'FLAG_PROMOCION',
        'FACTOR_CONVERSION_VOLUMEN', 'ESTATUS_CLIENTE',
        'CODIGO_CONGLOMERADO_CLIENTE', 'CODIGO_PRODUCTO_UNICO',
        'CODIGO_PRODUCTO', 'CODIGO_CARACTERSTICA', 'CODIGO_TIPO_PRESENTACION',
        'CODIGO_RUBRO', 'CODIGO_GRUPO', 'CODIGO_FAMILIA', 'CODIGO_MARCA',
        'CODIGO_CATEGORIA', 'CODIGO_TIPO_FRECUENCIA',
        'CODIGO_SEGMENTO_ECONOMICO'],
       dtype='object'))

In [11]:
data['FECHA_BOLETO'] = data['FECHA_BOLETO'].apply(lambda x: x.split()[0])

In [12]:
data['FECHA_BOLETO']

0          2017-12-19
1          2016-06-03
2          2016-06-02
3          2016-06-02
4          2016-06-03
5          2017-12-19
6          2017-12-19
7          2017-12-19
8          2017-12-19
9          2017-12-19
10         2017-12-19
11         2017-12-19
12         2017-12-19
13         2017-12-19
14         2016-05-30
15         2016-05-30
16         2016-05-30
17         2016-05-31
18         2016-05-28
19         2016-05-30
20         2016-05-30
21         2016-05-30
22         2016-05-25
23         2016-05-25
24         2016-05-26
25         2016-05-26
26         2016-05-25
27         2016-05-26
28         2016-05-26
29         2016-05-25
              ...
2150044    2017-10-31
2150045    2017-08-31
2150046    2017-08-31
2150048    2017-08-31
2150049    2017-12-31
2150050    2017-12-31
2150051    2017-12-31
2150052    2017-12-31
2150053    2017-12-31
2150054    2017-08-31
2150055    2017-05-31
2150056    2017-08-17
2150057    2017-08-02
2150058    2017-10-28
2150059    2017-08-29
2150060    2017-08-26
2150061    2017-08-24
2150062    2017-08-24
2150063    2017-08-24
2150064    2017-08-24
2150065    2017-08-24
2150066    2017-05-30
2150067    2017-05-30
2150068    2017-05-30
2150069    2017-05-30
2150070    2017-08-17
2150071    2017-08-17
2150072    2017-08-18
2150073    2017-08-18
2150074    2017-08-22
Name: FECHA_BOLETO, Length: 2103907, dtype: category
Categories (687, object): [2016-01-04, 2016-01-05, 2016-01-06, 2016-01-07, ..., 2017-12-28, 2017-12-29, 2017-12-30, 2017-12-31]

In [13]:
def add_col_dates(data, col, format_match="%d-%b-%y", month=True, day=True, month_day=True,year=True,
                   weekday=True, replace_str=False, format_str_replace='%Y/%m/%d', replicate_in_test=False):
        """
        por optimizar en casos separados para data y test_data
        """
        data['date'] = pd.to_datetime(data[col], format=format_match)
        
        if month:
            print("Agregaraa mes")
            data['month'] = pd.to_numeric(data['date'].dt.strftime('%m'), errors='coerce')
            data['month'].fillna(-99)  
            
        if day:
            print("Agregaraa dia")
            data['day'] = pd.to_numeric(data['date'].dt.strftime('%d'), errors='coerce')
            data['day'].fillna(-99)
            
        if year:
            print("Agregaraa aÃ±o")
            data['year'] = pd.to_numeric(data['date'].dt.strftime('%Y'), errors='coerce')
            data['year'].fillna(-99)

        if month_day:
            print("Agregaraa mes dia")
            data['month_day'] = pd.to_numeric(data['date'].dt.strftime('%m%d'), errors='coerce')
            data['month_day'].fillna(-99)
           
        if weekday:
            print("Agregaraa dia de semana")
            data['weekday'] = pd.to_numeric(data['date'].dt.strftime('%w'), errors='coerce')
            data['weekday'].fillna(-99)
   
        if replace_str:
            data['date'] = data['date'].dt.strftime(format_str_replace)
    
add_col_dates(data, 'FECHA_BOLETO', format_match="%Y-%m-%d")
data.head(10)

Agregaraa mes
Agregaraa dia
Agregaraa aÃ±o
Agregaraa mes dia
Agregaraa dia de semana

,NUMERO_BOLETO,TIPO_BOLETO,NUM_SECUENCIA_BOLETO,ID_UNICO_FILA,LIMA_PROV,NUM_PEDIDO,FECHA_BOLETO,CODIGO_ZONA,CODIGO_UBICACION,CODIGO_VENDEDOR,...,CODIGO_MARCA,CODIGO_CATEGORIA,CODIGO_TIPO_FRECUENCIA,CODIGO_SEGMENTO_ECONOMICO,date,month,day,year,month_day,weekday
0,F450-0000346734,FAC,1,5423841,4,1311-0000004737,2017-12-19,20,1241,463,...,MARCA 3,11,S,ECONOMICO,2017-12-19,12,19,2017,1219,2
1,F450-0000132318,FAC,12,5426267,4,desconocido,2016-06-03,20,1556,347,...,MARCA 3,11,S,ECONOMICO,2016-06-03,6,3,2016,603,5
2,F450-0000131760,FAC,5,5426483,5,1013-0000017592,2016-06-02,20,1492,130,...,MARCA 3,11,S,ECONOMICO,2016-06-02,6,2,2016,602,4
3,F450-0000131851,FAC,2,5425613,5,1110-0000021134,2016-06-02,20,1515,170,...,MARCA 3,11,S,ECONOMICO,2016-06-02,6,2,2016,602,4
4,F450-0000132262,FAC,7,5423168,4,0008-0000073885,2016-06-03,20,1665,424,...,MARCA 3,11,S,ECONOMICO,2016-06-03,6,3,2016,603,5
5,F450-0000346780,FAC,1,5422038,5,1604-0000003100,2017-12-19,20,1525,498,...,MARCA 3,11,S,ECONOMICO,2017-12-19,12,19,2017,1219,2
6,F450-0000346690,FAC,8,5422416,4,0008-0000093257,2017-12-19,20,438,335,...,MARCA 3,11,S,ECONOMICO,2017-12-19,12,19,2017,1219,2
7,F450-0000346769,FAC,1,5420478,5,1354-0000001156,2017-12-19,20,1492,399,...,MARCA 3,11,S,ECONOMICO,2017-12-19,12,19,2017,1219,2
8,F450-0000346772,FAC,1,5421261,5,1190-0000019330,2017-12-19,20,1525,246,...,MARCA 3,11,S,ECONOMICO,2017-12-19,12,19,2017,1219,2
9,F450-0000346773,FAC,5,5421263,5,1190-0000019347,2017-12-19,20,1525,246,...,MARCA 3,11,S,ECONOMICO,2017-12-19,12,19,2017,1219,2

In [14]:
data.columns

Index(['NUMERO_BOLETO', 'TIPO_BOLETO', 'NUM_SECUENCIA_BOLETO', 'ID_UNICO_FILA',
       'LIMA_PROV', 'NUM_PEDIDO', 'FECHA_BOLETO', 'CODIGO_ZONA',
       'CODIGO_UBICACION', 'CODIGO_VENDEDOR', 'CODIGO_CLIENTE',
       'CODIGO_MODO_PAGO', 'MONTO_VENTA_SOL', 'MONTO_VENTA_DOL',
       'MONTO_DESCUENTO_SOL', 'MONTO_DESCUENTO_DOL', 'MONTO_COSTO_SOL',
       'MONTO_COSTO_DOL', 'CANTIDAD_COMPRADA', 'FLAG_PROMOCION',
       'FACTOR_CONVERSION_VOLUMEN', 'ESTATUS_CLIENTE',
       'CODIGO_CONGLOMERADO_CLIENTE', 'CODIGO_PRODUCTO_UNICO',
       'CODIGO_PRODUCTO', 'CODIGO_CARACTERSTICA', 'CODIGO_TIPO_PRESENTACION',
       'CODIGO_RUBRO', 'CODIGO_GRUPO', 'CODIGO_FAMILIA', 'CODIGO_MARCA',
       'CODIGO_CATEGORIA', 'CODIGO_TIPO_FRECUENCIA',
       'CODIGO_SEGMENTO_ECONOMICO', 'date', 'month', 'day', 'year',
       'month_day', 'weekday'],
      dtype='object')

In [15]:
data['VENTA_TOTAL'] = data['MONTO_VENTA_SOL'] - data['MONTO_DESCUENTO_SOL']

In [16]:
data.columns

Index(['NUMERO_BOLETO', 'TIPO_BOLETO', 'NUM_SECUENCIA_BOLETO', 'ID_UNICO_FILA',
       'LIMA_PROV', 'NUM_PEDIDO', 'FECHA_BOLETO', 'CODIGO_ZONA',
       'CODIGO_UBICACION', 'CODIGO_VENDEDOR', 'CODIGO_CLIENTE',
       'CODIGO_MODO_PAGO', 'MONTO_VENTA_SOL', 'MONTO_VENTA_DOL',
       'MONTO_DESCUENTO_SOL', 'MONTO_DESCUENTO_DOL', 'MONTO_COSTO_SOL',
       'MONTO_COSTO_DOL', 'CANTIDAD_COMPRADA', 'FLAG_PROMOCION',
       'FACTOR_CONVERSION_VOLUMEN', 'ESTATUS_CLIENTE',
       'CODIGO_CONGLOMERADO_CLIENTE', 'CODIGO_PRODUCTO_UNICO',
       'CODIGO_PRODUCTO', 'CODIGO_CARACTERSTICA', 'CODIGO_TIPO_PRESENTACION',
       'CODIGO_RUBRO', 'CODIGO_GRUPO', 'CODIGO_FAMILIA', 'CODIGO_MARCA',
       'CODIGO_CATEGORIA', 'CODIGO_TIPO_FRECUENCIA',
       'CODIGO_SEGMENTO_ECONOMICO', 'date', 'month', 'day', 'year',
       'month_day', 'weekday', 'VENTA_TOTAL'],
      dtype='object')

In [22]:
conglomerado_month = pd.DataFrame(data.groupby(['CODIGO_CONGLOMERADO_CLIENTE', 'month'])['VENTA_TOTAL'].sum())
print(type(conglomerado_month))
conglomerado_month.to_csv('conglomerado_month.csv')
conglomerado_month

<class 'pandas.core.frame.DataFrame'>

                                     VENTA_TOTAL
CODIGO_CONGLOMERADO_CLIENTE month
002                         1        4416.060869
                            2        1585.186956
                            3        4235.421738
                            4        1171.413043
                            5         962.690870
                            6           0.000000
                            8        1453.677391
                            9         782.400000
                            10       1495.860870
                            12        582.069565
00205125067                 6         144.765217
                            10        184.031826
                            11          0.000000
003                         2        1333.917391
                            10        855.782609
                            11        664.365218
004                         1      107640.165222
                            2       58839.739131
                            3       18341.882610
                            4       64890.734783
                            5       65940.373912
                            6      112865.530437
                            7       36565.417391
                            8       72146.404349
                            9       96965.878261
                            10      78804.056521
                            11      93117.682616
                            12      75442.491304
010                         1        1032.021739
                            5        1753.282608
...                                          ...
A32                         7        2307.639130
                            10        508.404348
                            12        208.446956
A33                         2        1944.891304
A34                         5         590.413043
A35                         1       32513.152175
                            2       77180.421741
                            3       36166.708696
                            4       89717.417045
                            5       26110.791305
                            6       58943.265218
                            7       23105.104347
                            8       69220.600001
                            9       23459.852174
                            10      40736.091306
                            11      69086.995654
                            12      46933.656521
A36                         1       23767.373914
                            2       24717.694564
                            3       34217.904346
                            4       38788.995653
                            5       40184.847826
                            6       34171.886957
                            7       18562.252174
                            8        7737.682609
                            9       17070.652174
                            10      14230.386957
                            11      21469.104347
                            12      12052.182609
A37                         8         175.786957

[27270 rows x 1 columns]

In [23]:
conglomerado_year = pd.DataFrame(data.groupby(['CODIGO_CONGLOMERADO_CLIENTE', 'year'])['VENTA_TOTAL'].sum())
print(type(conglomerado_year))
conglomerado_year.to_csv('conglomerado_year.csv')
conglomerado_year

<class 'pandas.core.frame.DataFrame'>

                                   VENTA_TOTAL
CODIGO_CONGLOMERADO_CLIENTE year
002                         2016  1.329766e+04
                            2017  3.387117e+03
00205125067                 2016  1.840318e+02
                            2017  1.447652e+02
003                         2016  2.189700e+03
                            2017  6.643652e+02
004                         2016  4.381241e+05
                            2017  4.434363e+05
010                         2016  1.032022e+03
                            2017  1.753283e+03
012                         2016  8.790159e+05
                            2017  6.646261e+05
018                         2016  7.597757e+04
                            2017  1.468132e+05
021                         2016  5.737081e+05
                            2017  2.839670e+05
024                         2016  3.631267e+04
                            2017  4.443877e+04
025                         2016  6.538171e+04
                            2017  7.274970e+04
028                         2016  5.296175e+05
                            2017  3.449881e+05
029                         2016  7.066836e+04
                            2017  4.028164e+04
031                         2016  5.160478e+02
033                         2016  1.553863e+04
                            2017  5.252878e+03
034                         2016  7.038978e+03
                            2017  2.567600e+03
040                         2016  4.194196e+06
...                                        ...
A20                         2017  5.348500e+04
A21                         2016  7.275840e+04
                            2017  4.612193e+04
A22                         2016  3.412636e+05
                            2017  4.027727e+05
A23                         2016  8.257674e+04
                            2017  7.196411e+04
A24                         2016  3.092184e+05
                            2017  4.121799e+05
A25                         2016  1.657955e+04
                            2017  6.702548e+03
A26                         2016  4.245320e+05
                            2017  4.350940e+05
A27                         2016  7.378109e+04
                            2017  1.108543e+05
A28                         2016  9.113063e+04
                            2017  1.308492e+05
A29                         2016  4.268717e+04
A30                         2016  3.536689e+04
                            2017  6.008535e+03
A31                         2016  1.181993e+04
A32                         2016  7.291743e+03
                            2017  1.925735e+03
A33                         2016  1.944891e+03
A34                         2016  5.904130e+02
A35                         2016  3.410989e+05
                            2017  2.520752e+05
A36                         2016  2.035179e+05
                            2017  8.345308e+04
A37                         2016  1.757870e+02

[7136 rows x 1 columns]